/node_modules
    "dependencies": {
      "express": "^4.17.1",
      "mongoose": "^5.10.9"
    },

package.json
    "devDependencies": {
      "nodemon": "^2.0.4"
    }
  },
  "repository": {
    "type": "git",
    "url": "